# Ambientes Virtuais (Essencial para não subir gigabytes de bibliotecas)
venv/
env/
.venv/

# Variáveis de Ambiente (CRÍTICO: nunca suba suas senhas do banco para o GitHub)
.env

# Banco de Dados Local (Caso você use SQLite em algum momento ou logs do MySQL)
*.db
*.sqlite3

# Python (Arquivos de cache que o Python cria sozinho)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs (Configurações do seu VS Code ou Mac)
.vscode/
.idea/
.DS_Store

# Docker (Caso o MySQL gere logs ou dumps na pasta do projeto)
mysql_data/